<div class="container">
    <h1>{{ translationService.getTranslation('feedbackTitle') }}</h1>
    <p>{{ translationService.getTranslation('feedbackDescription') }}</p>
    <!-- Beginn des Formulars, das die Feedback-Daten mittels POST an den angegebenen URL sendet -->
    <form action="https://formspree.io/f/xovqangy" method="post">
    <form action="https://formspree.io/f/xovqangy" method="post">
        <textarea id="feedback" name="feedback" rows="10" placeholder="{{ translationService.getTranslation('feedbackPlaceholder') }}"></textarea>
        <button id="feedbackAbsenden" type="submit" class="feedback-button">{{ translationService.getTranslation('submitFeedback') }}</button>
    </form>
    </form>
</div>