/* Container Styling */
.container {
    max-width: 800px; /* Container Breite */
    margin: 0 auto;
    padding: 5px; /* Innenabstand oben verringert */
    display: flex;
    flex-direction: column; /* Elemente in einer Spalte anordnen */
    gap: 15px; /* Abstand zwischen den Elementen */
    min-height: calc(100vh - [Footer-Höhe]); /* Fußzeile abziehen, um Platz zu schaffen */
  padding-bottom: [Footer-Höhe]; /* Platz für den Footer schaffen */
}

/* Überschrift */
h1 {
    text-align: center; /* Text zentrieren */
    color: #2c3e50; /* Dunkles Blau für den Text */
    margin: -20px 0 0 0; /* Abstand oben verringert, unten ggf. erhöhen */
    font-size: 3em; /* Schriftgröße anpassen für mehr Sichtbarkeit */
    line-height: 1.2; /* Zeilenhöhe anpassen */
    animation: fadeInDown 1s ease-out; /* Fade-In-Effekt von oben */
    position: relative; /* Für die Positionierung des Unterstrichs */
}

h1::after {
    content: '';
    display: block;
    width: 60px; /* Breite der Linie unter dem H1 */
    height: 4px; /* Höhe der Linie */
    background-color: #708090; /* Farbe der Linie */
    margin: 0.25rem auto; /* Abstand um die Linie (z.B. 15px oben und unten) */
}

form {
    display: flex;
    flex-direction: column;
}

form button {
    align-self: flex-end; /* Platziert den Button rechts */
    padding: 10px 20px;
    background-color: #708090;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

form button:hover {
    background-color: #c0c0c0;
    color:black;
}

textarea {
    width: 100%;
    height: 375px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}