.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 5px; 
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-height: calc(100vh - [Footer-Höhe]);
  padding-bottom: [Footer-Höhe]; 
}


h1 {
    text-align: center; 
    color: #2c3e50; 
    margin: -20px 0 0 0; 
    font-size: 3em; 
    line-height: 1.2; 
    animation: fadeInDown 1s ease-out; 
    position: relative; 
}

h1::after {
    content: '';
    display: block;
    width: 60px; 
    height: 4px; 
    background-color: #708090; 
    margin: 0.25rem auto; 
}

form {
    display: flex;
    flex-direction: column;
}

form button {
    align-self: flex-end; 
    padding: 10px 20px;
    background-color: #708090;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

form button:hover {
    background-color: #c0c0c0;
    color:black;
}

textarea {
    width: 100%;
    height: 375px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}
