<div class="impressum-container">
    <h1>{{ translationService.getTranslation('imprintTitle') }}</h1>

    <section class="contact-info">
        <h2>{{ translationService.getTranslation('universityName') }}</h2>
        <address>
            {{ translationService.getTranslation('universityAddress') }}<br>
            {{ translationService.getTranslation('universityPostalCode') }}<br>
            {{ translationService.getTranslation('phoneLabel') }}: <a href="tel:+4959180098402">0591 80098402</a><br>
            {{ translationService.getTranslation('emailLabel') }}: <a href="mailto:christian.voss.1&#64;hs-osnabrueck.de">christian.voss.1&#64;hs-osnabrueck.de</a>
        </address>
    </section>

    <section class="legal-info">
        <p>{{ translationService.getTranslation('institutionLegalDescription') }}</p>
        <p>{{ translationService.getTranslation('supervisoryAuthorityDescription') }}</p>
        <p>{{ translationService.getTranslation('taxIdLabel') }}: <strong>DE 812 619 579</strong></p>
    </section>

    <section class="website-development">
        <h2>{{ translationService.getTranslation('websiteDevelopmentTitle') }}</h2>
        <p>{{ translationService.getTranslation('websiteDevelopmentDescription') }}</p>
        <p>{{ translationService.getTranslation('responsibleProfessor') }}: <strong>Dr. Stefan Guericke</strong></p>

        <h3>{{ translationService.getTranslation('projectLead') }}:</h3>
        <h6>Jhamina Kutzek</h6>

        <h3>{{ translationService.getTranslation('team') }}:</h3>
        <ul>
            <li>Nadine Arning</li>
            <li>Fabienne Priemer</li>
            <li>Jonah Schulze</li>
            <li>Christian Voß</li>
        </ul>
        <p><b>{{ translationService.getTranslation('license') }}</b></p>
        <p>
        &copy; 2024 GitHub, Inc. 
        <a href="https://github.com/jvail/glpk.js?tab=GPL-3.0-1-ov-file" target="_blank">GPL-3.0 licence</a>
        </p>
        <p>
        &copy; 2023 HiGHS, Version 1.6.0 
        <a href="https://highs.dev" target="_blank">licence</a>
        </p>

    </section>
</div>
