<footer>
  <div class="footer-container">
    <button id="datenschutz" class="footer-button" routerLink="/datenschutz">
      {{ translationService.getTranslation('footerDatenschutz') }}
    </button>
    <button id="impressum" class="footer-button" routerLink="/impressum">
      {{ translationService.getTranslation('footerImpressum') }}
    </button>
    <button id="ueberUns" class="footer-button" routerLink="/about-us">
      {{ translationService.getTranslation('footerUeberUns') }}
    </button>
  </div>
</footer>
