<h1>Datenschutz</h1>

<section class="responsible-info">
    <h2>Name und Anschrift der Verantwortlichen</h2>
    <p>Die Verantwortung im Sinne der Datenschutz-Grundverordnung und anderer nationaler Datenschutzgesetze der EU-Mitgliedsstaaten sowie sonstiger datenschutzrechtlicher Bestimmungen liegt bei der:</p>
    <address>
        Hochschule Osnabrück<br>
        Albrechtstr. 30<br>
        49076 Osnabrück<br>
        Deutschland<br>
        Telefon: <a href="tel:+495419690">+49 541 969-0</a><br>
        Fax: +49 541 969-2066<br>
        E-Mail: <a href="mailto:webmaster&#64;hs-osnabrueck.de">webmaster&#64;hs-osnabrueck.de</a><br>
        Website: <a href="https://www.hs-osnabrueck.de" target="_blank">www.hs-osnabrueck.de</a>
    </address>
    <p>Die Hochschule Osnabrück ist eine Körperschaft öffentlichen Rechts in der Trägerschaft einer Stiftung öffentlichen Rechts. Sie wird durch den Präsidenten <strong>Prof. Dr. Andreas Bertram</strong> gesetzlich vertreten.</p>
    <p>Zuständige Aufsichtsbehörde ist gem. §§ 59 Abs. 1, 60 Abs. 2 NHG der Stiftungsrat der Stiftung Fachhochschule Osnabrück, Albrechtstraße 30, 49076 Osnabrück.</p>
</section>

<section class="data-protection-officer">
    <h2>Name und Anschrift des Datenschutzbeauftragten</h2>
    <p>Der Datenschutzbeauftragte der Verantwortlichen ist:</p>
    <address>
        Prof. Dr. Alfred Scheerhorn<br>
        Albrechtstr. 30<br>
        49076 Osnabrück<br>
        Tel. <a href="tel:+495419693540">0541 969-3540</a><br>
        E-Mail: <a href="mailto:datenschutz&#64;hs-osnabrueck.de">datenschutz&#64;hs-osnabrueck.de</a>
    </address>
</section>
