<h1>{{ translationService.getTranslation('privacyPolicyTitle') }}</h1>

<section class="responsible-info">
    <h2>{{ translationService.getTranslation('responsiblePersonTitle') }}</h2>
    <p>{{ translationService.getTranslation('responsiblePersonDescription') }}</p>
    <address>
        {{ translationService.getTranslation('institutionName') }}<br>
        {{ translationService.getTranslation('institutionAddress') }}<br>
        {{ translationService.getTranslation('institutionCity') }}<br>
        {{ translationService.getTranslation('institutionCountry') }}<br>
        {{ translationService.getTranslation('phoneLabel') }} <a href="tel:+495419690">+49 541 969-0</a><br>
        {{ translationService.getTranslation('faxLabel') }}: +49 541 969-2066<br>
        {{ translationService.getTranslation('emailLabel') }}: <a href="mailto:webmaster&#64;hs-osnabrueck.de">webmaster&#64;hs-osnabrueck.de</a><br>
        {{ translationService.getTranslation('websiteLabel') }}: <a href="https://www.hs-osnabrueck.de" target="_blank">www.hs-osnabrueck.de</a>
    </address>
    <p>{{ translationService.getTranslation('institutionLegalDescription') }}</p>
    <p>{{ translationService.getTranslation('supervisoryAuthorityDescription') }}</p>
</section>

<section class="data-protection-officer">
    <h2>{{ translationService.getTranslation('dataProtectionOfficerTitle') }}</h2>
    <p>{{ translationService.getTranslation('dataProtectionOfficerDescription') }}</p>
    <address>
        {{ translationService.getTranslation('dataProtectionOfficerName') }}<br>
        {{ translationService.getTranslation('dataProtectionOfficerAddress') }}<br>
        Tel. <a href="tel:+495419693540">0541 969-3540</a><br>
        {{ translationService.getTranslation('dataProtectionOfficerEmailLabel') }}: <a href="mailto:datenschutz&#64;hs-osnabrueck.de">datenschutz&#64;hs-osnabrueck.de</a>
    </address>
</section>
