<html lang="de"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impressum</title>
    <link rel="stylesheet" href="styles.css">
</head>    
<body class="or_tool_impressum">
    <header>
        <div class="header-container">
            <img src="Icon.png" alt="OPERATIONS RESEARCH TOOL" class="logo">
            <div class="site-title">Operations Research Tool</div>
        </div>
    </header>

    <main>
        <div class="container">
            <h1 class="page-title">Impressum</h1>
            <div class="body-content">
                <p>Hochschule Osnabrück</p>
                <p>Kaiserstraße 10C</p>
                <p>49809 Lingen (Ems)</p>
                <p>Telefon: 0591 80098402</p>
                    Mail: <a href="#" title="Opens window for sending email" class="mail"> christian.voss.1@hs-osnabrueck.de
                </a>
                <br>
                <br>
                <p>Die Hochschule Osnabrück ist eine Körperschaft öffentlichen Rechts in der Trägerschaft einer Stiftung öffentlichen Rechts. Sie wird durch den Präsidenten Prof. Dr. Andreas Bertram gesetzlich vertreten.</p>
                <br>
                <p>Zuständige Aufsichtsbehörde ist gem. §§ 59 Abs. 1, 60 Abs. 2 NHG der Stiftungsrat der Stiftung Fachhochschule Osnabrück, Albrechtstraße 30, 49076 Osnabrück.</p>
                <br>
                <p>Umsatzsteueridentifikationsnummer: DE 812 619 579</p>
            </div>

            <div class="entwicklung-der-website" title="Entwicklung der Website">
                <br>
                <p>
                    </p><h2><u>Entwicklung der Website</u></h2>
                <p></p>
                <br>
                <p>
                    Die Website zum Operations Research Tool wurde im Rahmen des dualen Studiengangs Wirtschaftsinformatik im Modul "Programmierprojekt" entwickelt.</p>
                <p>
                    Verantwortlicher Professor in dem Moudl ist Dr. Stefan Guericke
                </p>
                <br>
                <p>
                    <b>Projektleitung:</b>
                    <br>
                    Jhamina Kutzek
                </p>
                <br>
                <p>
                    <b>Zum Team gehören weiter (in alphabetischer Reihenfolge):</b>
                    <br>
                    Nadine Arning, Fabienne Priemer, Jonah Schulze und Christian Voß 
                </p>
            </div>

        </div>
    </main>
<p>
    Lizenz GMPL: 

    © 2024 GitHub, Inc. GPL-3.0 licence (https://github.com/jvail/glpk.js?tab=GPL-3.0-1-ov-file) 
    
    © 2023 HiGHS, Version 1.6.0 licence (https://highs.dev) 
</p>

</body></html>