:host {
    display: block;
    padding: 20px;
<<<<<<< Updated upstream
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
=======
    background-color: #f9f9f9; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
>>>>>>> Stashed changes
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
<<<<<<< Updated upstream

#myChart {
    width: 100% !important;
    height: 400px;
=======
}

#myChart {
    width: 100% !important; 
    height: 400px; 
>>>>>>> Stashed changes
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.chart-legend {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.chart-legend div {
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.chart-legend div::before {
    content: '';
<<<<<<< Updated upstream
    width: 12px;
    height: 12px;
    border-radius: 50%;
=======
    width: 12px; 
    height: 12px; 
    border-radius: 50%; 
>>>>>>> Stashed changes
    margin-right: 5px;
}
