.menu-container {
  display: flex;
  justify-content: space-between;
  width: 800px;
  position: absolute;
  top: 250px; /* Anpassen, um die vertikale Position zu ändern */
  right: 50%; /* Zentriert die rechte Kante des Containers */
  transform: translateX(50%); /* Verschiebt den Container nach rechts */
}

.menu-container button {
  flex: 1;
  margin: 0 5px;
}

/* Button-Styling */
button {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #708090;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem; /* Feste Schriftgröße */
  cursor: pointer;
  min-width: 150px;
  text-align: center;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Hover- und Aktive-States */
button:hover,
button:active,
.active {
  background-color: #c0c0c0; /* Dunklere Farbe bei Hover */
  color: black;
  transform: translateY(-2px); /* Leichter "Lift"-Effekt bei Hover */
}

/* Text-Styling */
span {
  margin: 0;
  padding: 0;
  font-size: 1rem; /* Feste Textgröße */
  font-weight: bold;
}

