<div class="menu-container">
  <button id="menue_startseite" routerLink=''>
    <span>{{ translationService.getTranslation('menuHome') }}</span>
  </button>
  <button id="menue_HiGHS" routerLink='/highs'>
    <span>{{ translationService.getTranslation('menuHiGHS') }}</span>
  </button>
  <button id="menue_GLPK" routerLink='/parameter'>
    <span>{{ translationService.getTranslation('menuGLPK') }}</span>
  </button>
  <button id="menue_Feedback" routerLink='/feedback'>
    <span>{{ translationService.getTranslation('menuFeedback') }}</span>
  </button>
</div>

