header {
  justify-content: space-between; 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 50rem;
  margin: 0 auto 2rem auto;
  text-align: center;
  background: linear-gradient(to bottom, #708090, #778899);
  padding: 1rem;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
}

img {
  width: 6.5rem;
  object-fit: contain;
}

h1 {
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  font-size: 0.8rem;
  text-wrap: balance;
}


#sprache-aendern {
  background: linear-gradient(to bottom, #c0c0c0, #c0c0c0); 
  color: black; 
  border: none; 
  padding: 0.5vh 1vw; 
  font-size: 0.8vw; 
  border-radius: 3px; 
  cursor: pointer; 
  transition: background 0.3s ease, transform 0.2s ease; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
  position: absolute; 
  bottom: 10px; 
  right: 15px; 
}

#sprache-aendern:hover {
  background: linear-gradient(to bottom, #c0c0c0, #c0c0c0); 
  transform: scale(1.05); 
}

#sprache-aendern:active {
  transform: scale(0.95); 
}

header {
  position: relative; 
}

#home-icon {
  position: absolute; 
  bottom: 10px; 
  left: 10px; 
  font-size: 1.5rem; 
  color: #c0c0c0; 
  transition: color 0.3s;
}

#home-icon:hover {
  color: #c0c0c0; 
}

@media (max-width: 480px) {
  #sprache-aendern {
    padding: 0.5vh 3vw; 
    font-size: 3vw; 
  }
}

@media (min-width: 2000px) { 
  #sprache-aendern {
    padding: 1vh 1.5vw; 
    font-size: 1.5vw; 
  }
}

@media (min-width: 2500px) { 
  #sprache-aendern {
    padding: 1vh 1.2vw; 
    font-size: 1.2vw;
  }
}

@media (min-width: 4000px) { 
  #sprache-aendern {
    padding: 1vh 1.4vw; 
    font-size: 1.4vw; 
  }
}

@media (min-width: 5000px) { 
  #sprache-aendern {
    padding: 1.5vh 1.6vw; 
    font-size: 1.6vw;
  }
}
