<p>datenschutz works!</p>
<html lang="de"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datenschutz</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body class="or_tool_datenschutz">
    <header>
        <div class="header-container">
            <img src="Icon.png" alt="OPERATIONS RESEARCH TOOL" class="logo">
            <div class="site-title">Operations Research Tool</div>
        </div>
    </header>

    <main>
        <div class="container">
            <h1 class="page-title">Datenschutz</h1>
            <div class="body-content">
                <h2>I. Name und Anschrift der Verantwortlichen</h2>
                <p>
                    Die Verantwortung im Sinne der Datenschutz-Grundverordnung und anderer nationaler Datenschutzgesetze der EU-Mitgliedsstaaten sowie sonstiger datenschutzrechtlicher Bestimmungen liegt bei der:
                    <br><br>
                    Hochschule Osnabrück<br>
                    Albrechtstr. 30<br>
                    49076 Osnabrück<br>
                    Deutschland<br>
                    Telefon: +49 541 969-0<br>
                    Fax: +49 541 969-2066<br>
                    E-Mail: <a href="mailto:webmaster@hs-osnabrueck.de">webmaster@hs-osnabrueck.de</a><br>
                    Website: <a href="http://www.hs-osnabrueck.de" target="_blank">www.hs-osnabrueck.de</a>
                    <br><br>
                    Die Hochschule Osnabrück ist eine Körperschaft öffentlichen Rechts in der Trägerschaft einer
                    Stiftung öffentlichen Rechts. Sie wird durch den Präsidenten Prof. Dr. Andreas Bertram gesetzlich
                    vertreten.
                    <br><br>
                    Zuständige Aufsichtsbehörde ist gem. §§ 59 Abs. 1, 60 Abs. 2 NHG der Stiftungsrat der Stiftung
                    Fachhochschule Osnabrück, Albrechtstraße 30, 49076 Osnabrück.
                </p>
            </div>

            <div id="c4860664" class="row hsos-block-content">
                <header class="col-md-24 hsos-block-title">
                    <h2 class="hsos-title-separator">
                        II. Name und Anschrift des Datenschutzbeauftragten
                    </h2>
                </header>

                <div class="col-md-24">
                    <p>
                        Der Datenschutzbeauftragte der Verantwortlichen ist:<br><br>
                        Prof. Dr. Alfred Scheerhorn<br>
                        Albrechtstr. 30<br>
                        49076 Osnabrück<br>
                        Tel. 0541 969-3540<br>
                        E-Mail: <a href="mailto:datenschutz@hs-osnabrueck.de">datenschutz@hs-osnabrueck.de</a>
                    </p>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <ul class="footer-links">
            <li><a href="agb.html">AGB</a></li>
            <li><a href="datenschutz.html">Datenschutz</a></li>
            <li><a href="impressum.html">Impressum</a></li>
        </ul>
    </footer>



</body></html>