.solver-container {
  margin: 20px auto; /* Zentriert den Container und fügt oberen und unteren Abstand hinzu */
  text-align: center;
  max-width: 1000px; /* Maximalbreite für große Bildschirme */
  padding: 10px; /* Innerer Abstand des Containers */
}

/* Input-Container für die Anzahl der Variablen */
.input-container {
  margin-bottom: 30px; /* Abstand zwischen der Anzahl der Variablen und der Zielfunktion */
}

/* Abstand für die Zielfunktion */
.objective-function-container {
  margin-top: 30px; /* Abstand oberhalb der Zielfunktion */
  margin-bottom: 30px; /* Abstand unterhalb der Zielfunktion */
}

/* Allgemeine Textarea-Stile */
textarea {
  width: 100%;
  max-width: 600px;
  margin-top: 10px;
}

/* Button-Styling */
button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #708090;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #c0c0c0;
}

/* Stil für readonly Textareas und Pre-Elemente */
pre,
textarea[readonly] {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 4px;
  text-align: left;
}

/* Tabelle Styling */
table {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  font-family: Arial, sans-serif;
}

thead {
  background-color: #778899;
  color: white;
}

tbody tr {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #e7f1ff;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
  background-color: #fff;
}

/* Hauptüberschrift für Highs Solver */
h1 {
  text-align: center;
  color: #2c3e50;
  margin: 0 0 20px 0;
  font-size: 2.5em;
  line-height: 1.2;
  animation: fadeInDown 1s ease-out;
  position: relative;
}

h1::after {
  content: '';
  display: block;
  width: 60px;
  height: 4px;
  background-color: #708090;
  margin: 1rem auto;
}

/* Unterüberschrift */
h3 {
  color: #181023;
  font-family: Arial, sans-serif;
}

/* Export Buttons Container */
.export-buttons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 127px;
}

/* Fehlermeldungen */
.error-message {
  color: red;
  font-weight: bold;
  text-align: center;
}

.remove-button {
  background: none; /* Kein Hintergrund */
  border: none; /* Kein Rahmen */
  cursor: pointer; /* Zeiger-Cursor */
  color: #708090; /* Icon-Farbe */
  padding: 0; /* Kein Padding */
  font-size: 20px; /* Größe des Icons */
  margin-left: 10px; /* Abstand links vom Icon */
  transition: color 0.3s; /* Farbe bei Hover */
}

.remove-button:hover {
  color: #c0c0c0; /* Farbänderung beim Hover */
}

.optimization-type-container {
  margin-bottom: 15px;
  padding: 5px;
}

.optimization-type-container label {
  margin-right: 10px;
}

.optimization-type-container input[type="radio"] {
  margin-right: 5px;
}


/* Responsive Anpassungen */
@media (max-width: 768px) {
  h1 {
    font-size: 2em;
  }

  button {
    font-size: 14px;
    padding: 8px 16px;
  }

  table {
    font-size: 14px;
  }

  .input-container,
  .objective-function-container {
    margin-bottom: 20px; /* Weniger Abstand bei kleineren Bildschirmen */
  }
}
