<div class="solver-container">
  
    <div class="input-container">
      <label for="numVariables"> Anzahl der Variablen:</label>
      <br>
      <input type="number" id="numVariables" [(ngModel)]="numVariables" (change)="generateVariableInputs()" min="1" />
    </div>
  
    <div *ngFor="let variable of variables; let i = index">
      <label for="variable{{i}}"> Variable {{i + 1}}:</label>
  
      <input type="text" id="variable{{i}}" [(ngModel)]="variables[i]" placeholder="z.B. x{{i + 1}}" />
    </div>
  
    <div class="objective-function-container">
      <label for="objectiveFunction">Zielfunktion:</label>
      <input type="text" id="objectiveFunction" [(ngModel)]="objectiveFunction" placeholder="z.B. maximize x1 + 2*x2" />
    </div>
  
    <div class="constraints-container">
      <h3>Nebenbedingungen:</h3>
      <div *ngFor="let constraint of constraints; let j = index">
        <label for="constraint{{j}}">Nebenbedingung {{j + 1}}:</label>
        <input type="text" id="constraint{{j}}" [(ngModel)]="constraints[j]" placeholder="z.B. x1 + 2*x2 <= 15" />
      </div>
      <button (click)="addConstraint()">Weitere Nebenbedingung hinzufügen</button>
    </div>
