<div class="solver-container">
  <fieldset class="optimization-type-container">
    <legend>{{ translationService.getTranslation('optimizationType') }}</legend>
    <label>
      <input type="radio" id="optimizeMaximize" name="optimizationType" [(ngModel)]="optimizationType" value="Maximize" />
      {{ translationService.getTranslation('maximize') }}
    </label>
    <label>
      <input type="radio" id="optimizeMinimize" name="optimizationType" [(ngModel)]="optimizationType" value="Minimize" />
      {{ translationService.getTranslation('minimize') }}
    </label>
  </fieldset>
  <div class="input-container">
    <label for="numVariables">{{ translationService.getTranslation('numbervariables') }}</label>
    <br>
    <input type="number" id="numVariables" [(ngModel)]="numVariables" (change)="generateVariableInputs()" min="1" />
  </div>

  <div *ngFor="let variable of variables; let i = index; trackBy: trackByIndex">
    <label for="variable{{i}}"> Variable {{i + 1}}:</label>
    <input type="text" id="variable{{i}}" [(ngModel)]="variables[i]" placeholder="x{{i + 1}}" />
  </div>

  <div class="objective-function-container">
    <label for="objectiveFunction">{{ translationService.getTranslation('objectivefunction') }}</label>
    <input type="text" id="objectiveFunction" [(ngModel)]="objectiveFunction" placeholder="x1 + 2*x2" />
  </div>

  <div class="constraints-container">
    <h3>{{ translationService.getTranslation('constraints') }}</h3>
    <div *ngFor="let constraint of constraints; let j = index; trackBy: trackByIndex">
      <label for="constraint{{j}}">{{ translationService.getTranslation('constraint') }} {{j + 1}}:</label>
      <input type="text" id="constraint{{j}}" [(ngModel)]="constraints[j]" placeholder="x{{j + 1}} + {{j + 1}}*x{{j + 2}} <= {{j + 3}}" />
      <button (click)="removeConstraint(j)" class="remove-button" [attr.title]="translationService.getTranslation('removeconstraint')">
        <i class="fas fa-trash"></i>
      </button>
    </div>
    <button (click)="addConstraint()">{{ translationService.getTranslation('addadditionalconstraints') }}</button>
  </div>

  <br>

  <button id="problemSolve" (click)="solveProblem()">{{ translationService.getTranslation('solveProblem') }}</button>

  <div *ngIf="result">
    <h3>{{ translationService.getTranslation('solution') }}</h3>

    <h3>{{ translationService.getTranslation('variables') }}</h3>
    <table id="loesungstabelle">
      <thead>
      <tr>
        <th>{{ translationService.getTranslation('variable') }}</th>
        <th>{{ translationService.getTranslation('index') }}</th>
        <th>{{ translationService.getTranslation('status') }}</th>
        <th>{{ translationService.getTranslation('lowerBound') }}</th>
        <th>{{ translationService.getTranslation('upperBound') }}</th>
        <th>{{ translationService.getTranslation('primal') }}</th>
        <th>{{ translationService.getTranslation('dual') }}</th>
        <th>{{ translationService.getTranslation('type') }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let column of result.Columns | keyvalue; let i = index">
        <td [id]="'tabelle_name_' + i">{{ column.value.Name }}</td>
        <td [id]="'tabelle_index_' + i">{{ column.value.Index }}</td>
        <td [id]="'tabelle_status_' + i">{{ column.value.Status }}</td>
        <td [id]="'tabelle_Lower_' + i">{{ column.value.Lower }}</td>
        <td [id]="'tabelle_upper_' + i">{{ column.value.Upper ?? '∞' }}</td>
        <td [id]="'tabelle_primal_' + i">{{ column.value.Primal }}</td>
        <td [id]="'tabelle_dual_' + i">{{ column.value.Dual }}</td>
        <td [id]="'tabelle_type_' + i">{{ column.value.Type }}</td>
      </tr>
      </tbody>
    </table>

    <h3>{{ translationService.getTranslation('objectiveValue') }}</h3>
    <p>{{ result.ObjectiveValue }}</p>

    <h3>{{ translationService.getTranslation('runtimeanalysis') }}</h3>
    <p>{{ translationService.getTranslation('elapsedtime') }} {{ elapsedTime | number: '1.0-2' }} ms</p>
    <p>{{ translationService.getTranslation('preparationtime') }} {{ preparationTime | number: '1.0-2' }} ms</p>
  </div>
</div>

<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>

<div class="export-buttons-container">
  <button id="export_LP" (click)="downloadLP()">{{ translationService.getTranslation('exportLP') }}</button>
</div>
