.container {
  max-width: 800px; 
  margin: 0 auto; 
  padding: 20px; 
}


h1 {
  text-align: center; 
  color: #2c3e50; 
  margin: -20px 0 0 0; 
  font-size: 3em; 
  line-height: 1.2; 
  animation: fadeInDown 1s ease-out; 
  position: relative; 
}

h1::after {
  content: '';
  display: block;
  width: 60px; 
  height: 4px; 
  background-color: #708090; 
  margin: 0.25rem auto; 
}

h2, h3 {
  color: #2c3e50; 
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: center; 
  margin-top: 0 px auto;
  position: relative;
  animation: fadeInDown 1s ease-out; 
}

h2::after, h3::after {
  content: '';
  width: 60px;
  height: 4px;
  background-color: #708090; 
  display: block;
  margin: 1rem auto; 
}


p {
  font-size: 1.1rem; 
  line-height: 1.6; 
  text-align: justify; 
  margin: 20px 0; 
  animation: fadeInUp 1s ease-out; 
  max-width: 800px; 
  margin-left: auto; 
  margin-right: auto;
}


ul {
  list-style-type: none;
  padding-left: 0; 
  max-width: 100%; 
}


ul li {
  font-size: 1.1rem; 
  line-height: 1.8; 
  margin: 1rem 0; 
  position: relative;
  padding-left: 2rem; 
}

ul li::before {
  content: "✔"; 
  position: absolute;
  left: 0; 
  top: 0;
  font-size: 1.2rem; 
  color: #708090; 
}
