<h2>{{ translationService.getTranslation('aboutUsTitle') }}</h2>

<h3>{{ translationService.getTranslation('ourProjectTitle') }}</h3>
<p>{{ translationService.getTranslation('ourProjectDescription') }}</p>

<h3>{{ translationService.getTranslation('whatWeDevelopedTitle') }}</h3>
<p>{{ translationService.getTranslation('whatWeDevelopedDescription') }}</p>

<ul>
  <div class="container">
    <li>{{ translationService.getTranslation('featureSolverIntegration') }}</li>
    <li>{{ translationService.getTranslation('featureVisualRepresentation') }}</li>
    <li>{{ translationService.getTranslation('featureDownloadOptions') }}</li>
  </div>
</ul>

<div class="container">
  <h3>{{ translationService.getTranslation('ourApproachTitle') }}</h3>
  <p>{{ translationService.getTranslation('ourApproachDescription') }}</p>
  <ul>
    <li>{{ translationService.getTranslation('focusUsability') }}</li>
    <li>{{ translationService.getTranslation('focusCollaboration') }}</li>
    <li>{{ translationService.getTranslation('focusPracticalApplication') }}</li>
  </ul>
</div>
