<h1>{{ translationService.getTranslation('aboutUsTitle') }}</h1>

<h3>{{ translationService.getTranslation('ourProjectTitle') }}</h3>
<!-- Beschreibung des Projekts -->
<p>{{ translationService.getTranslation('ourProjectDescription') }}</p>

<h3>{{ translationService.getTranslation('whatWeDevelopedTitle') }}</h3>
<p>{{ translationService.getTranslation('whatWeDevelopedDescription') }}</p>
<div class="container">
  <ul id="features-list">
    <li>{{ translationService.getTranslation('featureSolverIntegration') }}</li>
    <li>{{ translationService.getTranslation('featureVisualRepresentation') }}</li>
    <li>{{ translationService.getTranslation('featureDownloadOptions') }}</li>
  </ul>
</div>

<!-- Unterüberschrift für den Abschnitt über den Ansatz -->
  <h3>{{ translationService.getTranslation('ourApproachTitle') }}</h3>
  <!-- Beschreibung des Ansatzes -->
  <p>{{ translationService.getTranslation('ourApproachDescription') }}</p>
  <div class="container">
  <!-- Aufzählung der Ansätze des Projekts -->
  <ul>
    <li>{{ translationService.getTranslation('focusUsability') }}</li>
    <li>{{ translationService.getTranslation('focusCollaboration') }}</li>
    <li>{{ translationService.getTranslation('focusPracticalApplication') }}</li>
  </ul>
</div>
