<div class="solver-container">
  <h1>{{ translationService.getTranslation('highsSolver') }}
    <button class="info-button" (click)="showInfo = !showInfo">?</button>
  </h1>

  <!-- Tooltip-Information wird bei Hover angezeigt -->
  <div *ngIf="showInfo" class="tooltip">
    <strong>Weitere Informationen:</strong>
    <p>
      Beispiel für ein Optimierungsproblem:
    </p>
    <pre>
      var x1 >= 0;
      var x2 >= 0;
      maximize Objective: x1 + x2;
      s.t. Constraint1:
        x1 + 2*x2 <= 15;
      s.t. Constraint2:
        3*x1 + x2 <= 20;
    </pre>
</div>

  <div>
    <button (click)="importFile()">{{ translationService.getTranslation('importFile') }}</button>
  </div>

  <textarea id="problemInput" [(ngModel)]="problemInput" placeholder="{{ translationService.getTranslation('inputPlaceholder') }}" rows="10" cols="50"></textarea>

  <br>
  <button id="problemSolve" (click)="solveProblem()">{{ translationService.getTranslation('solveProblem') }}</button>

  <!-- Ausgabe des Ergebnisses als JSON -->
  <div *ngIf="result">
    <h3>{{ translationService.getTranslation('solution') }}</h3>
    
    <!-- Tabelle für die Variablen (Columns) -->
    <h3>{{ translationService.getTranslation('variables') }}</h3>
    <table id="loesungstabelle">
      <thead>
        <tr>
          <th>{{ translationService.getTranslation('variable') }}</th>
          <th>{{ translationService.getTranslation('index') }}</th>
          <th>{{ translationService.getTranslation('status') }}</th>
          <th>{{ translationService.getTranslation('lowerBound') }}</th>
          <th>{{ translationService.getTranslation('upperBound') }}</th>
          <th>{{ translationService.getTranslation('primal') }}</th>
          <th>{{ translationService.getTranslation('dual') }}</th>
          <th>{{ translationService.getTranslation('type') }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let column of result.Columns | keyvalue; let i = index">
          <td [id]="'tabelle_name_' + i">{{ column.value.Name }}</td>
          <td [id]="'tabelle_index_' + i">{{ column.value.Index }}</td>
          <td [id]="'tabelle_status_' + i">{{ column.value.Status }}</td>
          <td [id]="'tabelle_Lower_' + i">{{ column.value.Lower }}</td>
          <td [id]="'tabelle_upper_' + i">{{ column.value.Upper ?? '∞' }}</td>
          <td [id]="'tabelle_primal_' + i">{{ column.value.Primal }}</td>
          <td [id]="'tabelle_dual_' + i">{{ column.value.Dual }}</td>
          <td [id]="'tabelle_type_' + i">{{ column.value.Type }}</td>
        </tr>
      </tbody>
    </table>
    
    <!-- Zielwert (Objective Value) -->
    <h3>{{ translationService.getTranslation('objectiveValue') }}</h3>
    <p>{{ result.ObjectiveValue }}</p>

    <app-model [xWert]="xWert" [yWert]="yWert"></app-model>
  </div>

  <div>
    <button id="export_MPS" (click)="downloadMPS()">{{ translationService.getTranslation('exportMPS') }}</button>
    <br>
    <button id="export_LP" (click)="downloadLP()">{{ translationService.getTranslation('exportLP') }}</button>
  </div>
</div>
