.solver-container {
  margin: 20px;
  text-align: center;
}

textarea {
  width: 100%;
  max-width: 600px;
  margin-top: 10px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4CAF50; /* Grüner Hintergrund */
  color: white; /* Weißer Text */
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049; /* Dunkler Grüner Hintergrund bei Hover */
}

pre, textarea[readonly] {
  background-color: #f4f4f4; /* Heller Hintergrund für readonly Textarea */
  padding: 10px;
  border-radius: 4px;
  text-align: left;
}

/* Tabelle Styling */
table {
  width: 100%;
  max-width: 800px; /* Maximale Breite der Tabelle */
  margin: 20px auto; /* Zentriert die Tabelle */
  border-collapse: collapse; /* Verhindert doppelte Ränder */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Leichte Schatten */
}

th, td {
  padding: 12px 15px; /* Innenabstand für Zellen */
  text-align: left; /* Linksbündig */
}

thead {
  background-color: #778899; /* Dunkelblauer Hintergrund für den Header */
  color: white; /* Weißer Text für den Header */
}

tbody tr {
  background-color: #f9f9f9; /* Heller Hintergrund für die Zeilen */
}

tbody tr:hover {
  background-color: #e7f1ff; /* Heller blauer Hintergrund bei Hover */
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Abwechselnd helle Zeilen */
}

tbody tr:nth-child(odd) {
  background-color: #fff; /* Normale weiße Zeilen */
}

h3 {
  color: #181023; /* Blaue Farbe für die Überschrift */
}
