.solver-container {
  margin: -20px 0 0 0;
  text-align: center;
}

textarea {
  width: 100%;
  max-width: 600px;
  margin-top: 10px;
  height: 340px;
}

button {
  margin-top: 10px;
  bottom: 20px;
  padding: 10px 20px;
  background-color: #708090; 
  color: white; 
  border: none;
  border-radius: 6px; 
  font-size: 16px; 
  cursor: pointer;
  transition: background-color 0.3s; 
}

button:hover {
  background-color: #c0c0c0; 
}

pre, textarea[readonly] {
  background-color: #f4f4f4; 
  padding: 10px;
  border-radius: 4px;
  text-align: left;
}

table {
  width: 100%;
  max-width: 800px; 
  margin: 20px auto; 
  border-collapse: collapse; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

th, td {
  padding: 12px 15px; 
  text-align: left; 
  font-family: Arial, sans-serif; 
}

thead {
  background-color: #778899; 
  color: white; 
}

tbody tr {
  background-color: #f9f9f9; 
}

tbody tr:hover {
  background-color: #e7f1ff; 
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2; 
}

tbody tr:nth-child(odd) {
  background-color: #fff; 
}

h1 {
  text-align: center; 
  color: #2c3e50; 
  margin: 0 0 20px 0;
  font-size: 3em;
  line-height: 1.2; 
  animation: fadeInDown 1s ease-out; 
  position: relative; 
}

h1::after {
  content: '';
  display: block;
  width: 60px; 
  height: 4px; 
  background-color: #708090; 
  margin: 1rem auto; 
}

h3 {
  color: #181023; 
  font-family: Arial, sans-serif; 
}

.info-container {
  display: inline-block;
  position: relative; 
}

.info-button {
  background-color: #708090; 
  color: white; 
  border: none; 
  cursor: pointer; 
  font-size: 18px; 
  border-radius: 50%; 
  width: 40px; 
  height: 40px; 
  text-align: center; 
  padding: 0; 
  transition: background-color 0.3s; 
  position: relative; 
  top: -11px;
  right: 5px;
}

.info-button:hover {
  background-color: #c0c0c0; 
  color: black;
}

.tooltip {
  display: inline-block;
  background-color: #f9f9f9;
  color: #333;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 40%; 
  left: 60%; 
  transform: translateX(-50%); 
  z-index: 1000;
  width: auto; 
  max-width: 300px; 
  text-align: left;
  font-size: 14px; 
}

.tooltip:hover {
  background-color: #f4f4f4;
}

pre {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: pre-wrap; 
}

.export-buttons-container {
  display: flex;
  justify-content: center; 
  gap: 10px; 
  margin-bottom: 20px; 
}

@media (max-width: 960px) {
  .tooltip {
    top: 400px; 
    left: 60%;
    max-width: 240px;
    font-size: 11px;
    padding: 8px;
  }
}

@media (min-width: 600px) and (max-width: 960px) {
  .tooltip {
    top: 400px; 
    left: 60%;
    max-width: 240px; 
    font-size: 11px; 
    padding: 8px; 
  }
}

@media (max-width: 360px) {
  .tooltip {
    top: 400px; 
    left: 60%;
    max-width: 160px;
    font-size: 9px;
    padding: 4px;
  }
}

@media (min-resolution: 105dpi) and (max-resolution: 175dpi) {
  .tooltip {
    top: 450px; 
    left: 60%;
    transform: translateX(-50%);
    max-width: 220px;
    font-size: 11px;
    padding: 6px;
  }}

  @media (min-resolution: 150dpi) {
    .tooltip {
      top: 450px; 
      left: 60%;
      transform: translateX(-50%);
      max-width: 220px;
      font-size: 11px;
      padding: 6px;
    }} 

.error-message {
  color: red;
  font-weight: bold;
  text-align: center;
}