<div class="container">
    <h1 class="page-title">{{ translationService.getTranslation('welcomeTitle') }}</h1>
    <p class="intro-text">{{ translationService.getTranslation('introText') }}</p>

    <h2>{{ translationService.getTranslation('whyOurTool') }}</h2>
    <p>{{ translationService.getTranslation('whyOurToolDescription1') }}</p>
    <p>{{ translationService.getTranslation('whyOurToolDescription2') }}</p>
    <p>{{ translationService.getTranslation('whyOurToolDescription3') }}</p>

    <h2>{{ translationService.getTranslation('ourCoreValues') }}</h2>
    <p>{{ translationService.getTranslation('ourCoreValuesDescription') }}</p>    

    <div class="value-container">
        <div class="value-box">
            <h3>{{ translationService.getTranslation('intuitiveInterface') }}</h3>
            <p>{{ translationService.getTranslation('intuitiveInterfaceDescription') }}</p>
        </div>
        <div class="value-box">
            <h3>{{ translationService.getTranslation('optimalEfficiency') }}</h3>
            <p>{{ translationService.getTranslation('optimalEfficiencyDescription') }}</p>
        </div>
        <div class="value-box">
            <h3>{{ translationService.getTranslation('practicalExperience') }}</h3>
            <p>{{ translationService.getTranslation('practicalExperienceDescription') }}</p>
        </div>
    </div>
</div>

<div class="container">
<!-- Hero Section -->
    <section class="cta-section">
        <h2>{{ translationService.getTranslation('ctaTitle') }}</h2>
        <p>{{ translationService.getTranslation('ctaDescription') }}</p>
        <div class="button-container">
            <button class="cta-button" routerLink="/glpk">{{ translationService.getTranslation('startNowButton') }}</button>
            <button class="cta-button" routerLink="/highs">{{ translationService.getTranslation('highsSolverButton') }}</button>
        </div>
    </section>
</div>

