<div class="container">
    <h1 class="page-title">Willkommen zu Ihrem Operations Research Tool!</h1>
    <p class="intro-text">Entdecken Sie eine intuitive Plattform, die Ihnen hilft, komplexe Optimierungsprobleme schnell und effizient zu lösen. Ob im Studium oder in der Berufswelt – unser Tool unterstützt Sie dabei, fundierte Entscheidungen zu treffen und innovative Lösungen zu entwickeln.</p>

    <h2>Warum unser Tool?</h2>
    <p>In einer Welt, in der Daten entscheidend sind, ist es für Studierende unerlässlich, Zugang zu den besten Werkzeugen zu haben. Unser Operations Research Tool befähigt Sie, Ihr theoretisches Wissen in die Praxis umzusetzen und erfolgreich Herausforderungen zu meistern, die Ihre Studienleistungen steigern werden.</p>

    <p>Mit einer benutzerfreundlichen Oberfläche und hochentwickelten Algorithmen können Sie verschiedene Szenarien analysieren und in Echtzeit visualisieren. Egal, ob Sie mathematische Modelle für Ihre Prüfungen erstellen oder reale Probleme in Ihrem Studienbereich lösen möchten – unser Tool ist Ihre Lösung.</p>

    <p>Nutzen Sie die Gelegenheit, komplexe Probleme anzugehen und kreative Lösungen zu entwickeln, die Ihnen nicht nur im Studium, sondern auch in Ihrer zukünftigen Karriere zugutekommen werden. Starten Sie jetzt und erleben Sie, wie unser Tool Ihre Lernerfahrung bereichern kann!</p>

    <h2>Unsere zentralen Mehrwerte</h2>
    <p>Unsere Software bietet Ihnen eine Reihe von Vorteilen, die Ihnen helfen, die Herausforderungen des Studiums effektiv zu meistern:</p>
    
    <div class="value-container">
        <div class="value-box">
            <h3>Intuitive Benutzeroberfläche</h3>
            <p>Ein einfaches Design ermöglicht Ihnen einen schnellen Einstieg, ohne dass Sie viel Zeit mit dem Lernen verbringen müssen.</p>
        </div>
        <div class="value-box">
            <h3>Optimale Effizienz</h3>
            <p>Setzen Sie leistungsstarke Algorithmen ein, um Ihre Projekte effizient zu gestalten und Ergebnisse zu maximieren.</p>
        </div>
        <div class="value-box">
            <h3>Praxiserfahrung</h3>
            <p>Übertragen Sie Ihr theoretisches Wissen in echte Anwendungen und entwickeln Sie Fähigkeiten, die Ihnen im Berufsleben helfen.</p>
        </div>
    </div>
</div>

<!-- Hero Section -->
<section class="cta-section">
    <h2>Bereit, Ihre Probleme zu lösen?</h2>
    <p>Starten Sie noch heute und entdecken Sie die Möglichkeiten, die unser Tool Ihnen bietet.</p>
    <div class="button-container">
        <button class="cta-button" routerLink="/glpk" (click)="glpk()">Jetzt starten</button>
        <button class="cta-button" routerLink="/highs" (click)="highs()">HiGHS Solver</button>
    </div>
</section>

